@import "../../style/_setup.scss";

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
  padding: 0px;
  @include breakpoint(768px) {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    border-radius: 25px;
    background-color: $light-bg-color;
    padding: 40px;
  }
}
