@import "_reset.scss";
@import "_setup.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;713;800;900&display=swap");

html,
body {
  font-family: Montserrat, Helvetica, sans-serif;
  color: $primary-color;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.white {
  color: $secondary-color;
}

.light-bg {
  background-color: $light-bg-color;
}

.white-bg {
  background-color: $secondary-color;
}

.main {
  margin: 0 20px;
  flex-grow: 1;
  @include breakpoint(768px) {
    margin: 0 100px;
  }

  .white {
    color: $secondary-color;
  }

  .light-bg {
    background-color: $light-bg-color;
  }

  .white-bg {
    background-color: $secondary-color;
  }
}
