@import "../../style/_setup.scss";

.banner {
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 22px;
  mix-blend-mode: darken;
  &__home {
    height: 111px;
    background: url("../../assets/banner.png") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &__h1 {
      font-size: 24px;
      z-index: 1;
    }
    &__darkener {
      background-color: rgba(0, 0, 0, 0.5);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
      border-radius: 25px;
      position: absolute;
    }
  }

  @include breakpoint(768px) {
    border-radius: 25px;
    justify-content: center;
    margin: 30px auto 45px;
    &__home {
      height: 223px;
      &__h1 {
        font-size: 48px;
      }
    }
    &__sm {
      display: none;
    }
  }
}
