@import "../../style/_setup.scss";

.banner {
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 22px;
  mix-blend-mode: darken;
  /* Default banner */
  &__home {
    height: 111px;
    background: url("../../assets/banner-bg.png"),
      url("../../assets/banner.png") no-repeat;
    background-size: cover;
    background-position: center;
    &__h1 {
      font-size: 24px;
    }
  }
  /* About banner */
  &__about {
    height: 223px;
    background: url("../../assets/banner-bg.png"),
      url("../../assets/about.png") no-repeat;
    background-size: cover;
    &__h1 {
      display: none;
    }
  }
  @include breakpoint(768px) {
    border-radius: 25px;
    justify-content: center;
    margin: 30px auto 45px;
    &__home {
      height: 223px;
      &__h1 {
        font-size: 48px;
      }
    }
    &__about {
      background: url("../../assets/banner-bg.png"),
        url("../../assets/about.png") no-repeat;
      background-size: cover;
    }
    &__sm {
      display: none;
    }
  }
}
